.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
header, footer{
  background-color: #ffffff;
  border-style: solid;
  border-radius: 20px;
  padding: 5px;
  text-align: center;
  color: #ffffff;
}
.social-links{
  display: flex;
}

.social-links ul{
  padding: 10px;
  display: flex;
  width: 300px;
  height: 30px;
  margin: auto;
  }
  .social-items{
    list-style: none;
    
    }
    
    .social-items a{
    padding: 10px 20px;
    font-size: 35px;
    color: #6cccc6;
    }
    .outer-footer{
      padding: 10px;
      text-align: center;
      font-size: 18px;
      color: aliceblue;
      }
      .separador1{
        height: 10px;
      }
      .inner-footer{
        width: 100%;
        max-width: 1000px;
        margin: auto;
        padding: 60px;
        background-color: #ffffff;
        }

.App-header {
  background-color: #eee3e3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #6d9cc1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  background-color: #6d9cc1;
  border-radius: 20px;
  box-sizing: border-box;
  height: auto;
  padding: 20px;
  width: auto;
}
input {
  background-color: #283cae;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: auto;
  
}

.Contacto {
  color: #ffffff;
  width: auto;
  height: auto;
  padding: 0.3cm;
  background-color: #6d9cc1;
  transition-property: color, transform;
  transition: background-color 2s;
  
}

.Contacto:hover {
  background-color: #283cae;
  color: #000000;
  transform: scale(1.1);
}